<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ce103_hw6_calc_app_cs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <ce103_hw6_calc_app_cs.Properties.Settings>
            <setting name="Formulas" serializeAs="String">
                <value/>
            </setting>
            <setting name="Variables" serializeAs="String">
                <value/>
            </setting>
            <setting name="Ranges" serializeAs="String">
                <value/>
            </setting>
        </ce103_hw6_calc_app_cs.Properties.Settings>
    </userSettings>
</configuration>
